.container_radiant {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: 50vh; /* Половина высоты экрана */
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.container_dire {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: 50vh; /* Половина высоты экрана */
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.column {
    flex: 0 0 auto;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: 100%; /* Ограничиваем высоту столбца по содержимому */
    margin-right: 10px; /* Добавляем небольшой отступ между столбцами */
    scrollbar-width: none;
}

.hero {
    margin: 10px 0;
}

.hero img {
    width: 50px;
    height: auto;
}
